/* User section style */
.admin-container .sections .sections-body .user-section{
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

/* User filters sectio styles */
.admin-container .sections .sections-body .user-section .user-header{
    background-color: #fff;
    margin: 10px 0;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.admin-container .sections .sections-body .user-section .user-header .filter-methods{
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 30px;
}
.admin-container .sections .sections-body .user-section .user-header .filter-methods div{
    width: 100%;
}
.admin-container .sections .sections-body .user-section .user-header div p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.admin-container .sections .sections-body .user-section .user-header div input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #6b728039;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #6b7280;
}
.admin-container .sections .sections-body .user-section .user-header div input:focus + .placeholder{
    display: none;
}
.admin-container .sections .sections-body .user-section .user-header div select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #6b728039;
    font-size: 14px;
    font-weight: 600;
    color: #6b7280a1;
}
.admin-container .sections .sections-body .user-section .user-header .buttons{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.admin-container .sections .sections-body .user-section .user-header .buttons .reset{
    background-color: transparent;
    border: 1px solid #6b728045;
    color: #000;
    font-weight: 600;
}
.admin-container .sections .sections-body .user-section .user-header .buttons .reset svg{
    width: 16px;
}
.admin-container .sections .sections-body .user-section .user-header .buttons button{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px 15px;
    border: 1px solid #2B38D1;
    border-radius: 10px;
    background-color: #2B38D1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.admin-container .sections .sections-body .user-section .user-header .buttons button:hover{
    opacity: 0.75;
    cursor: pointer;
}
.admin-container .sections .sections-body .user-section .user-header .find{
    position: relative;
}
.admin-container .sections .sections-body .user-section .user-header .search{
    position: relative;
}
.admin-container .sections .sections-body .user-section .user-header .placeholder{
    display: flex;
    column-gap: 8px;
    justify-content: start;
    color: #6b72808a;
    position: absolute;
    top: 58%;
    left: 5%;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
.admin-container .sections .sections-body .user-section .user-header .placeholder svg{
    width: 18px;
    height: 20px;
}
.admin-container .sections .sections-body .user-section .user-header .filter-keys{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 20px;
    padding-top: 20px;
}
.admin-container .sections .sections-body .user-section .user-header .filter-keys p{
    display: flex;
    align-items: end;
    padding: 3px 10px;
    font-size: 12px;
    border: 1px solid #6b728030;
    border-radius: 30px;
    color: #6b72807d;
}


.admin-container .sections .sections-body .user-section .user-body{
    margin-top: 30px;
    min-height: 60vh;
}

/* Empty section styles */
.admin-container .sections .sections-body .user-section .user-body .admin-empty-user-container{
    width: 100%;
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #787c8f25;
}
.admin-container .sections .sections-body .user-section .user-body .admin-empty-user-container .container-top img{
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}
.admin-container .sections .sections-body .user-section .user-body .admin-empty-user-container .container-bottom h1{
    font-size: 25px;
}
.admin-container .sections .sections-body .user-section .user-body .admin-empty-user-container .container-bottom p{
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0 25px 0;
    color: #787c8f;
}
/* ---------------------- */

.admin-container .sections .sections-body .user-section .user-body table{
    width: 100%;
    border-collapse: collapse;
}
.admin-container .sections .sections-body .user-section .user-body table thead th{
    padding-bottom: 20px;
    color: #6b7280;
    font-weight: 600;
}
.admin-container .sections .sections-body .user-section .user-body .user-box{
    background-color: #fff;
}
.admin-container .sections .sections-body .user-section .user-body .user-box td{
    padding: 25px 5px;
    text-align: center;
    border-top: 1px solid #6b728026;
}
.admin-container .sections .sections-body .user-section .user-body .user-box td p{
    font-size: 14px;
    font-weight: 600;
}
.admin-container .sections .sections-body .user-section .user-body .user-box .name{
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding-left: 25px;
    text-align: left;
}
.admin-container .sections .sections-body .user-section .user-body .user-box .name:hover{
    cursor: pointer;
}
.admin-container .sections .sections-body .user-section .user-body .user-box .name h3{
    font-size: 15px;
    font-weight: 700;
}
.admin-container .sections .sections-body .user-section .user-body .user-box .name p{
    font-size: 12px;
    color: #6b7280;
    margin-top: 5px;
}
.admin-container .sections .sections-body .user-section .user-body .user-box .buttons .button-content{
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
}
.admin-container .sections .sections-body .user-section .user-body .user-box .buttons svg{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #DD3842;
    font-weight: 600;
    transition: 0.25s;
    margin-right: 10px;
    color: #DD3842;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-body .user-box .buttons svg:hover{
    cursor: pointer;
    background-color: #DD3842;
    color: #Fff;
}
.admin-container .sections .sections-body .user-section .user-body .orders{
    width: fit-content;
    padding: 5px 12px;
    border: 1px solid #FFB800;
    background-color: #fff;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    color: #FFB800;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-body .admin{
    background-color: #008A0027;
    border-radius: 30px;
    width: fit-content;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #008A00;
    color: #008A00;
}
.admin-container .sections .sections-body .user-section .user-body .orders:hover{
    background-color: #FFB80027;
    cursor: pointer;
}
.admin-container .sections .sections-body .user-section .user-body .user-image{
    width: 40px;
    border-radius: 50%;
    border: 1px solid #DD384227;
}
.admin-container .sections .sections-body .user-section .user-body .delete-btn,
.admin-container .sections .sections-body .user-section .user-body .update{
    background-color: transparent;
    border: none;
    transition: 0.25s;
    border-radius: 50%;
}
.admin-container .sections .sections-body .user-section .user-body .update{
    width: 30px;
    height: 30px;
    color: #2B38D1;
}
.admin-container .sections .sections-body .user-section .user-body .update:hover{
    cursor: pointer;
}

.admin-container .sections .sections-body .user-section .user-body .user-list-responsive{
    display: none;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box{
    display: flex;
    align-items: start;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box:hover{
    cursor: pointer;
    background-color: #2B38D1;
    color: #fff;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .left-side img{
    width: 100px;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side{
    width: 100%;
    margin-left: 10px;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .row{
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: space-between;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .row h4{
    font-weight: 600;
    margin: 5px 0;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .row p{
    font-size: 12px;
    font-weight: 600;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .orders .btns{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .orders .btns button{
    font-size: 12px;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000d7;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box{
    position: relative;
    width: 350px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box img{
    width: 200px;
    border-radius: 50%;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box button{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: #DD3842;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box button:hover{
    cursor: pointer;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box .row{
    margin: 15px 0;
    text-align: start;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box div p{
    color: rgb(109, 107, 107);
    font-weight: 500;
    margin-top: 5px;
}
/* Add product and update box style */
.admin-container .sections .sections-body .user-section .user-body .update-user-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000d1;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-container .sections .sections-body .user-section .user-body .box{
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-padding: 1px;
}
.admin-container .sections .sections-body .user-section .user-body .box::-webkit-scrollbar {
  width: 5px;
}
.admin-container .sections .sections-body .user-section .user-body .box::-webkit-scrollbar-thumb {
  background: #2B38D1;
  border-radius: 10px;
}

.admin-container .sections .sections-body .user-section .user-body .box::-webkit-scrollbar-button{
    scrollbar-width: 1px;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-header{
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d8dbdccd
}
.admin-container .sections .sections-body .user-section .user-body .box .box-header h1{
    font-size: 25px;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .row{
    margin: 15px 0;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .row label{
    font-size: 16px;
    color: rgb(109, 107, 107);
    font-weight: 600;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-header{
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d8dbdccd
}
.admin-container .sections .sections-body .user-section .user-body .box .box-header h1{
    font-size: 25px;
}
.admin-container .sections .sections-body .user-section .user-body .update-user-box .name input{
    width: 100%;
    padding: 10px;
    border: 1px solid #d8dbdccd;
    border-radius: 30px;
    outline: none;
    background-color: #F1F5F6;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .category{
    padding: 10px 0;
} 
.admin-container .sections .sections-body .user-section .user-body .box .box-form .category label{
    margin-right: 10px;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .category select{
    padding: 8px 10px;
    outline: none;
    border: 1px solid #d8dbdccd;
    font-size: 14px;
    background-color: #F1F5F6;
    font-weight: 600;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .alert{
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form p{
    background-color: #fff;
    border: none;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .err{
    color: #DD3842;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .success{
    color: #008A00;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .buttons{
    padding-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-around;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .buttons .close{
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #DD3842;
    color: #fff;
    background-color: #DD3842;
    border-radius: 30px;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .buttons .close:hover{
    background-color: #fff;
    color: #DD3842;
    cursor: pointer;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .buttons input{
    width: 100%;
    padding: 10px;
    border: 1px solid #2B38D1;
    font-size: 14px;
    font-weight: 600;
    background-color: #2B38D1;
    color: #fff;
    border-radius: 30px;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-body .box .box-form .buttons input:hover{
    background-color: #fff;
    color: #2B38D1;
    cursor: pointer;
}


/* box buttons */
.admin-container .sections .sections-body .user-section .user-footer .box-buttons{
    display: flex;
    width: 100%;
    padding: 30px 0 10px 0;
    justify-content: center;
    align-items: center;
}
.admin-container .sections .sections-body .user-section .user-footer .box-buttons button{
    background: #F1F5F6;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9dedf;
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: 500;
    color: rgb(109, 107, 107);
    transition: 0.25s;
    padding-bottom: 5px;
}
.admin-container .sections .sections-body .user-section .user-footer .box-buttons button:hover{
    color: #fff;
    background-color: #2B38D1;
    cursor: pointer;
}
.admin-container .sections .sections-body .user-section .user-footer .box-buttons p{
    margin: 0 20px;
    font-weight: 600;
}
.admin-container .sections .sections-body .user-section .user-footer .box-buttons span{
    color: #2B38D1;
    font-weight: 600;
}



