.admin-container {
    display: flex; 
    align-items: start;
}

/* ------------------ Navbar styles ------------------ */
.admin-container .sidebar {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: #fff;
    border-right: 1px solid #d8dbdccd;
}

.admin-container .sidebar .sidebar-header {
    background-color: #fff;
    padding: 30px;
}

.admin-container .sidebar .sidebar-header img {
    width: 150px;
    margin: auto;
}

.admin-container .sidebar .top .sidebar-header .logo-letter {
    display: none;
    width: 40px;
}

.admin-container .sidebar .sidebar-body ul li {
    list-style-type: none;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0;
}

.admin-container .sidebar .sidebar-body .select{
    background-color: #2B38D1;
    color: #fff;
}

.admin-container .sidebar .sidebar-body .select:hover{
    background-color: #2B38D1;
}

.admin-container .sidebar .sidebar-body .select a{
    color: #fff;
}

.admin-container .sidebar .sidebar-body ul li:hover {
    background-color: #F1F5F6;
    cursor: pointer;
}

.admin-container .sidebar .sidebar-body ul li a {
    text-decoration: none;
    color: #000;
}

.admin-container .sidebar .sidebar-body ul li i {
    font-size: 18px;
    margin-right: 15px;
}

.admin-container .sidebar .sidebar-footer {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    column-gap: 15px;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.admin-container .sidebar .sidebar-footer img {
    width: 40px;
    border: 1px solid #d8dbdccd;
    border-radius: 50%;
}

.admin-container .sidebar .sidebar-footer .footer-right p,
.admin-container .sidebar .bottom .responsive-footer .prodile-box .footer-right p {
    font-size: 12px;
    font-weight: 400;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-container .sidebar .sidebar-footer .footer-right h3,
.admin-container .sidebar .bottom .responsive-footer .prodile-box .footer-right h3 {
    font-size: 15px;
}

.admin-container .sidebar .sidebar-footer button,
.admin-container .sidebar .bottom .responsive-footer .prodile-box button {
    border-radius: 30px;
    width: 100%;
    padding: 8px 0;
    color: #fff;
    border: 1px solid #DD3842;
    background-color: #DD3842;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    transition: 0.25s;
}

.admin-container .sidebar .sidebar-footer button:hover,
.admin-container .sidebar .bottom .responsive-footer .prodile-box button:hover {
    background-color: #fff;
    color: #DD3842;
    cursor: pointer;
}

.admin-container .sidebar .bottom .responsive-footer {
    display: none;
    position: relative;
    padding-bottom: 30px;
}

.admin-container .sidebar .bottom .responsive-footer img {
    width: 40px;
    border: 1px solid #d8dbdccd;
    border-radius: 50%;
    cursor: pointer;
}

.admin-container .sidebar .bottom .responsive-footer .prodile-box {
    position: absolute;
    background-color: #fff;
    bottom: 30px;
    left: 70px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
}
/* -------------------------------------------------- */

/* ------------------ Section Style ------------------ */
.sections {
    width: 90%;
    margin-left: 250px;
}

/* Header top */
.section-header {
    padding: 20px 5%;
    height: fit-content;
    display: flex;
    column-gap: 30px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 260px;
    background-color: #fff;
}

.section-header .header-top-left h1 {
    font-size: 25px;
    width: fit-content;
}

.section-header .header-top-left h1 span {
    color: #2B38D1;
}

.section-header .header-top-right {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 30px;
}

.section-header .header-top-right .orders {
    font-size: 15px;
    font-weight: 600;
}

.section-header .header-top-right .store {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.section-header .header-top-right .store button {
    width: fit-content;
    padding: 8px 15px;
    border: 1px solid #2B38D1;
    border-radius: 30px;
    background-color: #2B38D1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: 0.25s;
}

.section-header .header-top-right .store i {
    display: none;
}

.section-header .header-top-right .store i p {
    border: 1px solid #2B38D1;
}

.section-header .header-top-right .store button:hover {
    background-color: #fff;
    color: #2B38D1;
    cursor: pointer;
}

.section-header .header-top-right .cart {
    display: flex;
    column-gap: 5px;
    position: relative;
}

.section-header .header-top-right .cart i {
    font-size: 23px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.25s;
}

.section-header .header-top-right .cart i:hover {
    background-color: #F1F5F6;
    cursor: pointer;
}

.section-header .header-top-right .cart p {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: #DD3842;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
}

.admin-container .sections .sections-body {
    width: 100%;
    background-color: #F1F5F6;
    min-height: 100vh;
    padding-top: 120px;
}

/* Dashboard section style */
.admin-container .sections .sections-body .dashboard-section {
    /* display: none; */
}

.admin-container .sections .sections-body .dashboard-section .dashboard-header {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-header p {
    font-size: 20px;
    font-weight: 600;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .box {
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .box i {
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .box .details {
    text-align: start;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .box .details h1 {
    font-size: 25px;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .box .details p {
    color: rgb(109, 107, 107);
    font-weight: 500;
    font-size: 14px;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .user-count i {
    color: #008A00;
    background-color: #008A0027;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .product-count i {
    color: #FFB800;
    background-color: #FFB80027;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .order-count i {
    color: #2B38D1;
    background-color: #2B38D127;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .order-status i {
    color: #DD3842;
    background-color: #DD384227;
}

/* User section style */
.admin-container .sections .sections-body .user-section{
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
    /* display: none; */
}
.admin-container .sections .sections-body .user-section .user-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-container .sections .sections-body .user-section .user-header h1{
    font-size: 20px;
}
.admin-container .sections .sections-body .user-section .user-header .search{
    display: flex;
    align-items: center;
}
.admin-container .sections .sections-body .user-section .user-header .search input{
    padding: 10px;
    width: 100%;
    border-radius: 30px 0 0 30px;
    border: 2px solid #d8dbdccd;
    border-right: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
}
.admin-container .sections .sections-body .user-section .user-header .search button{
    width: 50px;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    border: 1px solid #2B38D1;
    background-color: #2B38D1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-header .search button:hover{
    background-color: #fff;
    color: #2B38D1;
    cursor: pointer;
}
.admin-container .sections .sections-body .user-section .user-body{
    margin-top: 30px;
}
.admin-container .sections .sections-body .user-section .user-body .user-list{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.admin-container .sections .sections-body .user-section .user-body .user-list .list-header,
.admin-container .sections .sections-body .user-section .user-body .user-list .user-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-container .sections .sections-body .user-section .user-body .user-list .list-header p,
.admin-container .sections .sections-body .user-section .user-body .user-list .user-box div{
    width: 200px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(109, 107, 107);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-container .sections .sections-body .user-section .user-body .user-list .user-box div{
    padding: 10px 0;
}
.admin-container .sections .sections-body .user-section .user-body .user-list .user-box{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-body .user-list .user-box p{
    font-size: 14px;
    color: #000;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.admin-container .sections .sections-body .user-section .user-body .user-list .user-box:hover{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.admin-container .sections .sections-body .user-section .user-body .user-list .user-box .name{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 5px;
    padding-left: 10px;
}
.admin-container .sections .sections-body .user-section .user-body .order-btn{
    width: fit-content;
    padding: 5px 12px;
    border: 1px solid #008A00;
    background-color: #fff;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #008A00;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-body .order-btn:hover{
    background-color: #008A0027;
    cursor: pointer;
}
.admin-container .sections .sections-body .user-section .user-body .user-image{
    width: 40px;
    border-radius: 50%;
    border: 1px solid #DD384227;
}
.admin-container .sections .sections-body .user-section .user-body .delete-btn{
    background-color: transparent;
    border: none;
    transition: 0.25s;
    margin-right: 10px;
    border-radius: 50%;
}
.admin-container .sections .sections-body .user-section .user-body .delete-btn:hover{
    cursor: pointer;
}
.admin-container .sections .sections-body .user-section .user-body .delete-btn img{
    width: 25px;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive{
    display: none;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box{
    display: flex;
    align-items: start;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box:hover{
    cursor: pointer;
    background-color: #2B38D1;
    color: #fff;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .left-side img{
    width: 100px;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side{
    width: 100%;
    margin-left: 10px;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .row{
    display: flex;
    align-items: center;
    column-gap: 15px;
    justify-content: space-between;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .row h4{
    font-weight: 600;
    margin: 5px 0;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .row p{
    font-size: 12px;
    font-weight: 600;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .orders .btns{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .orders .btns button{
    font-size: 12px;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000d7;
    display: none;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box{
    position: relative;
    width: 350px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box img{
    width: 200px;
    border-radius: 50%;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box button{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: #DD3842;
    transition: 0.25s;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box button:hover{
    cursor: pointer;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box .row{
    margin: 15px 0;
    text-align: start;
}
.admin-container .sections .sections-body .user-section .user-body .user-full-details .user-box div p{
    color: rgb(109, 107, 107);
    font-weight: 500;
    margin-top: 5px;
}

/* Product section style */
.admin-container .sections .sections-body .product-section{
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
    /* display: none; */
}
.admin-container .sections .sections-body .product-section .product-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-container .sections .sections-body .product-section .product-header h1{
    font-size: 20px;
}
.admin-container .sections .sections-body .product-section .product-header .search{
    display: flex;
    align-items: center;
}
.admin-container .sections .sections-body .product-section .product-header .search input{
    padding: 10px;
    width: 100%;
    border-radius: 30px 0 0 30px;
    border: 2px solid #d8dbdccd;
    border-right: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
}
.admin-container .sections .sections-body .product-section .product-header .search button{
    width: 50px;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    border: 1px solid #2B38D1;
    background-color: #2B38D1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: 0.25s;
}
.admin-container .sections .sections-body .product-section .product-header .search button:hover{
    background-color: #fff;
    color: #2B38D1;
    cursor: pointer;
}
/* products section body */
.admin-container .sections .sections-body .product-section .product-body{
    margin-top: 30px;
}
.admin-container .sections .sections-body .product-section .product-body .body-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
}
.admin-container .sections .sections-body .product-section .product-header{
    column-gap: 10px;
}
.admin-container .sections .sections-body .product-section .product-header .search{
    width: 50%;
}
.admin-container .sections .sections-body .product-section .product-header .header-filter{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.admin-container .sections .sections-body .product-section .product-header .header-filter p{
    width: 70px;
    font-size: 16px;
    font-weight: 600;
}
.admin-container .sections .sections-body .product-section .product-header .header-filter select{
    padding: 5px 10px 5px 5px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(109, 107, 107);
}
.admin-container .sections .sections-body .product-section .product-header .header-create-btn  button{
    width: 140px;
    padding: 8px 15px;
    border: none; 
    font-size: 14px;
    font-weight: 600;
    display: flex;
    color: #fff;
    background-color: #008A00;
    align-items: center;
    transition: 0.25s;
}
.admin-container .sections .sections-body .product-section .product-header .header-create-btn  button:hover{
    background-color: #027702;
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-header .header-create-btn  button i{
    margin-right: 10px;
    font-size: 16px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list{
    margin-top: 30px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    column-gap: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .header{
    padding: 20px 0;
    border-top: 1px solid #d8dbdccd;
    margin-bottom: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .header p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(109, 107, 107);
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products{
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products:hover{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .row{
    text-align: center;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .row p{
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .name{
    display: flex;
    width: 300px;
    align-items: center;
    column-gap: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .qnt,
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .price,
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .availability,
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .buttons{
    width: 100px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .name .image img{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .name .details{
    text-align: left;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .name .details p{
    font-size: 12px;
    margin-top: 5px;
    color: rgb(109, 107, 107);
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .qnt p{
    font-size: 15px;
    font-weight: 500;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .price p{
    font-weight: 600;
    color: #2B38D1;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .availability p{
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .availability .availabale{
    background-color: #008A0027;
    color: #008A00;
    border: 1px solid #008A00;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .availability .unavailabale{
    background-color: #DD384227;
    color: #DD3842;
    border: 1px solid #DD3842;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .buttons button{
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    transition: 0.25s;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .buttons button:hover{
    background-color: #F1F5F6;
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .buttons i{
    font-size: 18px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .update{
    color: #2B38D1;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .delete{
    color: #DD3842;
}

/* responsive list style */
.admin-container .sections .sections-body .product-section .product-body .responsive-list{
    display: none;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box{
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .left-side img{
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side{
    width: 100%;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .row h4{
    color: rgb(109, 107, 107);
    font-weight: 600;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .row p{
    font-weight: 600;
    font-size: 14px;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .price p{
    color: #2B38D1;
    font-weight: 700;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .availability .availabale{
    color: #008A00;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .buttons{
    text-align: end;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .buttons button{
    background-color: transparent;
    font-size: 16px;
    border: none;
    margin: 5px 10px;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .buttons .update{
    color: #2B38D1;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .buttons .delete{
    color: #DD3842;
}

/* Add product and update box style */
.admin-container .sections .sections-body .product-section .product-body .add-product-box,
.admin-container .sections .sections-body .product-section .product-body .update-product-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000d1;
    z-index: 20;
}
.admin-container .sections .sections-body .product-section .product-body .box{
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 30px;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
    scroll-padding: 1px;
}
.admin-container .sections .sections-body .product-section .product-body .box::-webkit-scrollbar {
  width: 5px;
}
.admin-container .sections .sections-body .product-section .product-body .box::-webkit-scrollbar-thumb {
  background: #2B38D1;
  border-radius: 10px;
}

.admin-container .sections .sections-body .product-section .product-body .box::-webkit-scrollbar-button{
    scrollbar-width: 1px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-header{
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d8dbdccd
}
.admin-container .sections .sections-body .product-section .product-body .box .box-header h1{
    font-size: 25px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .row{
    margin: 15px 0;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .row label{
    font-size: 16px;
    color: rgb(109, 107, 107);
    font-weight: 600;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .name input,
.admin-container .sections .sections-body .product-section .product-body .box .box-form .quantity input,
.admin-container .sections .sections-body .product-section .product-body .box .box-form .price input,
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .inputs input,
.admin-container .sections .sections-body .product-section .product-body .box .box-form .brand input{
    width: 100%;
    padding: 10px;
    border: 1px solid #d8dbdccd;
    border-radius: 30px;
    outline: none;
    background-color: #F1F5F6;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .image label{
    margin-right: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .image input{
    padding: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .counters{
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.admin-container .sections .sections-body .product-section .product-body .box .box-form .quantity input,
.admin-container .sections .sections-body .product-section .product-body .box .box-form .price input{
    width: 180px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .ratings{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 15px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .ratings .inputs{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .ratings p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(109, 107, 107);
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .ratings .inputs input{
    display: none;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .ratings .inputs label{
    font-size: 20px;
    margin-right: 8px;
    color: #c4c6c7cd;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .ratings .inputs label:hover{
    color: #FFB800;
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .ratings .inputs label:hover ~ label{
    color: #FFB800;
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .ratings .inputs input:checked ~ label{ 
    color: #FFB800;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .description textarea{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border: 1px solid #d8dbdccd;
    border-radius: 10px;
    background-color: #F1F5F6;
    padding: 10px 10px 10px 15px;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    resize: none;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .inputs{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .inputs input{
    width: 200px;
    padding: 8px 10px;
    padding-left: 15px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .inputs button{
    width: fit-content;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #008A00;
    background-color: #fff;
    color: #008A00;
    transition: 0.25s;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .inputs button:hover{
    color: #fff;
    background-color: #008A00;
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .key-values{
    width: 400px;
    height: fit-content;
    background-color: #2B38D127;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .key-values .values{
    display: flex;
    width: fit-content;
    align-items: center;
    column-gap: 5px;
    font-weight: 500;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 30px;
    border: 1px solid #d8dbdccd;
    background-color: #F1F5F6;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .key-values .values i{
    font-size: 14px;
    font-weight: 600;
    color: #000000a9;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .key-values .values i:hover{
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .category{
    padding: 10px 0;
} 
.admin-container .sections .sections-body .product-section .product-body .box .box-form .category label,
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords label{
    margin-right: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .category select,
.admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords select{
    padding: 8px 10px;
    outline: none;
    border: 1px solid #d8dbdccd;
    font-size: 14px;
    background-color: #F1F5F6;
    font-weight: 600;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .brand label{
    margin-right: 10px;
    width: 180px;
} 
.admin-container .sections .sections-body .product-section .product-body .box .box-form .brand{
    display: flex;
    align-items: center;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .availability{
    padding-bottom: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .availability .inputs{
    margin-top: 5px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .availability .inputs label{
    font-size: 14px;
    color: #000;
    font-weight: 600;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .msgs{
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    background-color: #DD384227;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .err{
    background-color: #DD384227;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .succ{
    background-color: #008A0027;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .msgs .error{
    color: #DD3842;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .msgs .success{
    color: #008A00;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .buttons{
    padding-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-around;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .buttons .close{
    padding: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #DD3842;
    color: #fff;
    background-color: #DD3842;
    border-radius: 30px;
    transition: 0.25s;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .buttons .close:hover{
    background-color: #fff;
    color: #DD3842;
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .buttons input{
    width: 100%;
    padding: 10px;
    border: 1px solid #2B38D1;
    font-size: 14px;
    font-weight: 600;
    background-color: #2B38D1;
    color: #fff;
    border-radius: 30px;
    transition: 0.25s;
}
.admin-container .sections .sections-body .product-section .product-body .box .box-form .buttons input:hover{
    background-color: #fff;
    color: #2B38D1;
    cursor: pointer;
}

/* box buttons */
.admin-container .sections .sections-body .product-section .product-footer .box-buttons{
    display: flex;
    width: 100%;
    padding: 30px 0 10px 0;
    justify-content: center;
    align-items: center;
}
.admin-container .sections .sections-body .product-section .product-footer .box-buttons button{
    background: #F1F5F6;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9dedf;
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: 500;
    color: rgb(109, 107, 107);
    transition: 0.25s;
    padding-bottom: 5px;
}
.admin-container .sections .sections-body .product-section .product-footer .box-buttons button:hover{
    color: #fff;
    background-color: #2B38D1;
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-footer .box-buttons p{
    margin: 0 20px;
    font-weight: 600;
}
.admin-container .sections .sections-body .product-section .product-footer .box-buttons span{
    color: #2B38D1;
    font-weight: 600;
}




/* -------------------------------------------------- */






/* -------------------Responcive Design ------------------- */

@media(max-width: 1210px) {
    .admin-container .sections .sections-body .dashboard-section .dashboard-body {
        grid-template-columns: auto auto auto;
    }
    .admin-container .sections .sections-body .user-section .user-body .user-list .list-header p,
    .admin-container .sections .sections-body .user-section .user-body .user-list .user-box div{
        width: 180px;
    }
}
@media(max-width: 1100px) {
    .admin-container .sections .sections-body .product-section .product-body .responsive-list{
        display: block;
        padding-top: 20px;
        border-top: 1px solid #d8dbdccd;
    }
    .admin-container .sections .sections-body .product-section .product-body .product-list{
        display: none;
    }
}
@media(max-width: 1080px) {
    .admin-container .sections .sections-body .user-section .user-body .user-list .list-header p,
    .admin-container .sections .sections-body .user-section .user-body .user-list .user-box div{
        width: 150px;
    }
}
@media(max-width: 970px) {
    .admin-container .sections .sections-body .dashboard-section .dashboard-body {
        grid-template-columns: auto auto;
    }
}
@media(max-width: 950px) {
    .sections{
        margin-left: 80px;
    }
    .admin-container .sidebar {
        width: 80px;
    }
    .admin-container .sidebar .top .sidebar-header .main-logo {
        display: none;
    }
    .admin-container .sidebar .top .sidebar-header .logo-letter {
        display: block;
    }
    .admin-container .sidebar .sidebar-header {
        padding: 30px 0;
    }
    .admin-container .sidebar .sidebar-body ul li a {
        display: none;
    }
    .admin-container .sidebar .bottom .sidebar-footer {
        display: none;
    }
    .admin-container .sidebar .bottom .responsive-footer {
        display: flex;
        justify-content: center;
    }
    .section-header {
        left: 80px;
        right: 0;
    }
}
@media(max-width: 800px){
    .admin-container .sections .sections-body .user-section .user-body .user-list{
        display: none;
    }
    .admin-container .sections .sections-body .user-section .user-body .user-list-responsive{
        display: block;
    }
}
@media(max-width: 750px){
    .admin-container .sections .sections-body .product-section .product-header{
        display: grid;
        grid-template-columns: auto auto;
    }
    .admin-container .sections .sections-body .product-section .product-header .search{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        margin-bottom: 20px;
    }
}
@media(max-width: 640px){
    .admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .left-side img{
        width: 100px;
    }
}
@media(max-width: 560px){
    .admin-container .sections .sections-body .product-section .product-header .header-create-btn button p{
        display: none;
    }
    .admin-container .sections .sections-body .product-section .product-header .header-create-btn button{
        width: fit-content;
        display: flex;
        justify-content: center;
        padding-right: 5px;
    }
    .admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box{
        display: block;
    }
}
@media(max-width: 580px) {
    .admin-container .sections .sections-body .dashboard-section .dashboard-body {
        grid-template-columns: auto;
        text-align: center;
    }
    .admin-container .sections .sections-body .dashboard-section .dashboard-header {
        width: 100%;
        text-align: center;
    }
}
@media(max-width: 460px){
    .admin-container .sections .sections-body .product-section .product-body .box .box-form .counters{
        display: block;
    }
    .admin-container .sections .sections-body .product-section .product-body .box .box-form .counters input{
        width: 100%;
    }
    .admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .key-values{
        width: 100%;
        margin: 10px auto;
    }
    .admin-container .sections .sections-body .product-section .product-body .box .box-form .keywords .inputs input{
        width: 100%;
    }
}
@media(max-width: 480px) {
    .section-header .header-top-right .store i {
        display: block;
    }
    .section-header .header-top-right .store p {
        display: none;
    }
    .admin-container .sections .sections-body .user-section .user-header{
        display: block;
        text-align: center;
    }
    .admin-container .sections .sections-body .user-section .user-header .search,
    .admin-container .sections .sections-body .product-section .product-header .search{
        margin-top: 20px;
    }
    .admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .left-side img{
        width: 80px;
    }
    .admin-container .sections .sections-body{
        padding-top: 100px;
    }
    .admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .left-side{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
}
@media(max-width: 450px) {
    .sections{
        margin-left: 60px;
    }
    .section-header .header-top-right {
        column-gap: 10px;
    }
    .section-header {
        column-gap: 20px;
    }
    .admin-container .sidebar {
        width: 60px;
    }
    .section-header {
        left: 60px;
        right: 0;
    }
    .admin-container .sidebar .sidebar-body ul li {
        padding-left: 20px;
    }
    .admin-container .sidebar .bottom .responsive-footer .prodile-box {
        left: 50px;
    }
    .admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box{
        display: block;
    }
    .admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .left-side{
        text-align: center;
    }
    .admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .left-side img{
        border-radius: 50%;
        text-align: center;
    }
    .admin-container .sections .sections-body .user-section .user-body .user-list-responsive .user-box .right-side .row{
        padding-right: 10px;
    }
}
@media(max-width: 420px){ 
    .admin-container .sections .sections-body .product-section .product-header{
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
    }
    .admin-container .sections .sections-body .product-section .product-header .header-filter{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        margin-bottom: 20px;
    }
    .admin-container .sections .sections-body .product-section .product-header .header-create-btn{
        width: 100%;
        text-align: center;
        display: flex;
    }
    .admin-container .sections .sections-body .product-section .product-header .header-create-btn button p{
        display: block;
        width: 100%;
        padding-right: 15px;
    }
}



/* -------------------------------------------------- */