.messages-container{
    width: fit-content;
    position: fixed;
    right: 30px;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 8px 15px;
    border-radius: 30px;
}

 /* ----- success ----- */
.success{
    background-color: #008a0027;
    border: 1px solid #008a0043;
}
.success .left-side{
    background-color: #008A00;
}
/* --------------- */

 /* ----- error ----- */
.error{
    background-color: #DD384227;
    border: 1px solid #DD384243;
}
.error .left-side{
    background-color: #DD3842;
}
/* --------------- */

.messages-container .left-side{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messages-container .left-side i{
    font-size: 16px;
    margin-top: 2px;
}
.messages-container .center-side p{
    font-size: 16px;
    font-weight: 600;
}
.messages-container .right-side{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}
.messages-container .right-side i{
    font-size: 12px;
    margin-top: 1px;
    color: #000000a7;
}
.messages-container .right-side:hover{
    background-color: #fff;
    cursor: pointer;
    color: #000;
}