.message-container {
    width: fit-content;
    background-color: #fff;
    position: fixed;
    right: 1%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 15px;
    border-radius: 10px;
    border-left: 4px solid #008A00;
    z-index: 20;
    margin: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.message-container .left-side .svg-border {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid #008a0041;
}

.message-container .left-side .svg-border svg {
    width: 35px;
    height: 35px;
    padding: 8px;
    color: #fff;
    background-color: #008a00;
    border-radius: 50%;
    border: 1px solid #fff;
}

.message-container .middle-side h3 {
    font-size: 16px;
    font-weight: 700;
}

.message-container .middle-side p {
    font-size: 12px;
    font-weight: 500;
    color: #8d92ad;
    margin-top: 5px;
}

.message-container .right-side svg {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 5px;
    background-color: #8d92ad2c;
    transition: 0.25s;
}

.message-container .right-side svg:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

/* ----- success ----- */
.message-container-success {
    border-left: 4px solid #008A00;
}

.message-container .left-side .svg-border-success {
    border: 6px solid #008a0041;
}

.message-container .left-side .svg-border-success svg {
    background-color: #008A00;
}

/* --------------- */

/* ----- Warning ----- */
.message-container-war {
    border-left: 4px solid #DD3842;
}

.message-container .left-side .svg-border-war {
    border: 6px solid #DD384241;
}

.message-container .left-side .svg-border-war svg {
    background-color: #DD3842;
}

/* --------------- */

/* ----- error ----- */
.message-container-error {
    border-left: 4px solid #DD3842;
}

.message-container .left-side .svg-border-error {
    border: 6px solid #DD384241;
}

.message-container .left-side .svg-border-error svg {
    background-color: #DD3842;
}

/* --------------- */