/* Dashboard section style */
.admin-container .sections .sections-body .dashboard-section .dashboard-header {
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-header p {
    font-size: 20px;
    font-weight: 600;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .box {
    text-align: center;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .box svg {
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .box .details {
    text-align: start;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .box .details h1 {
    font-size: 25px;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .box .details p {
    color: rgb(109, 107, 107);
    font-weight: 500;
    font-size: 14px;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .user-count svg {
    color: #008A00;
    background-color: #008A0027;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .product-count svg {
    color: #FFB800;
    background-color: #FFB80027;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .order-count svg {
    color: #2B38D1;
    background-color: #2B38D127;
}

.admin-container .sections .sections-body .dashboard-section .dashboard-body .order-status svg {
    color: #DD3842;
    background-color: #DD384227;
}

/* Responsive Design */

@media(max-width: 1156px){
    .admin-container .sections .sections-body .dashboard-section .dashboard-body{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media(max-width: 540px){
    .admin-container .sections .sections-body .dashboard-section .dashboard-body{
        grid-template-columns: auto;
    }
}
