.orders-container{
    max-width: 90%;
    margin: auto;
}
.orders-container .orders-container-header .header-top{
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
}
.orders-container .orders-container-header .header-top .status-box{
    display: flex;
    align-items: center;
    justify-content: start;
    width: auto;
    padding: 15px;
    background-color: #fff;
    column-gap: 15px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.orders-container .orders-container-header .header-top .status-box .box-thumb{
    width: 40px;
    height: 40px;
    background-color: #2b39d11e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.orders-container .orders-container-header .header-top .status-box .box-thumb svg{
    width: 20px;
    height: 20px;
    color: #2B38D1;
}
/* Status boxes color styles */
.orders-container .orders-container-header .header-top .status-box .pending{
    background-color: #ffb70034;
}
.orders-container .orders-container-header .header-top .status-box .pending svg{
    color: #ffb700;
    background-color: transparent;
}
.orders-container .orders-container-header .header-top .status-box .processing{
    background-color: #8b5cf634;
}
.orders-container .orders-container-header .header-top .status-box .processing svg{
    color: #8b5cf6;
    background-color: transparent;
}
.orders-container .orders-container-header .header-top .status-box .completed{
    background-color: #008a0026;
}
.orders-container .orders-container-header .header-top .status-box .completed svg{
    color: #008A00;
    background-color: transparent;
}

.orders-container .orders-container-header .header-top .status-box .cancelled{
    background-color: #DD384234;
}
.orders-container .orders-container-header .header-top .status-box .cancelled svg{
    color: #DD3842;
    background-color: transparent;
}

.orders-container .orders-container-header .header-top .status-box .box-details p{
    font-size: 14px;
    font-weight: 500;
    color: #000000ae;
}
.orders-container .orders-container-header .header-top .status-box .box-details h1{
    font-size: 25px;
}
.orders-container .orders-container-header .header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.orders-container .orders-container-header .header-bottom .header-filter{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.orders-container .orders-container-header .header-bottom .header-filter p{
    width: 70px;
    font-size: 16px;
    font-weight: 600;
}
.orders-container .orders-container-header .header-bottom .header-filter select{
    padding: 5px 10px 5px 5px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(109, 107, 107);
    border-radius: 8px;
    border: 1px solid rgba(109, 107, 107, 0.36);
}
.orders-container .orders-container-header .header-bottom .search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.orders-container .orders-container-header .header-bottom .search input{
    padding: 10px;
    width: 100%;
    border-radius: 30px 0 0 30px;
    border: 2px solid #d8dbdccd;
    border-right: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
}
.orders-container .orders-container-header .header-bottom .search button{
    width: 50px;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    border: 1px solid #2B38D1;
    background-color: #2B38D1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: 0.25s;
}
.orders-container .orders-container-header .header-bottom .search button:hover{
    background-color: #fff;
    color: #2B38D1;
    cursor: pointer;
}

.orders-container .orders-container-body{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.orders-container .orders-container-body .list-header-row{
    display: flex;
    align-items: center;
    padding: 25px 0;
}
.orders-container .orders-container-body .list-header-row div{
    width: 150px;
    text-align: center;
    padding: 0 15px;
}
.orders-container .orders-container-body .list-header-row .order{
    width: 280px;
    text-align: center;
}
.orders-container .orders-container-body .list-header-row p{
    font-size: 14px;
    font-weight: 600;
    color: #6b7280;
}
.orders-container .orders-container-body .list-body-row .row-card{
    padding: 25px 0;
    display: flex;
    column-gap: 15px;
    align-items: center;
    text-align: left;
    border-top: 1px solid #6b728041;
}
.orders-container .orders-container-body .list-body-row .row-card .row{
    width: 150px;
}
.orders-container .orders-container-body .list-body-row .row-card .order{
    display: flex;
    width: 280px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding-left: 15px;
}
.orders-container .orders-container-body .list-body-row .row-card .order .order-thumb img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    background-position: center;
}
.orders-container .orders-container-body .list-body-row .row-card .order .order-details{
    text-align: left;
}
.orders-container .orders-container-body .list-body-row .row-card .order .order-details h4{
    font-size: 15px;
    font-weight: 700;
}
.orders-container .orders-container-body .list-body-row .row-card .order .order-details p{
    font-size: 12px;
    margin-top: 5px;
    color: #6b7280;
}
.orders-container .orders-container-body .list-body-row .row-card .user h4{
    font-size: 15px;
    font-weight: 600;
}
.orders-container .orders-container-body .list-body-row .row-card .user p{
    font-size: 12px;
    font-weight: 500;
    color: #6b7280;
    margin-top: 5px;
}
.orders-container .orders-container-body .list-body-row .row-card .quantity{
    text-align: center;
}
.orders-container .orders-container-body .list-body-row .row-card .quantity h4,
.orders-container .orders-container-body .list-body-row .row-card .price h4{
    font-weight: 600;
    font-size: 15px;
}
.orders-container .orders-container-body .list-body-row .row-card .status p{
    padding: 6px 10px;
    width: fit-content;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 600;
}
.orders-container .orders-container-body .list-body-row .row-card .status .processing{
    background-color: #8b5cf634;
    color: #8b5cf6;
}
.orders-container .orders-container-body .list-body-row .row-card .status .deleverd{
    background-color: #008a0026;
    color: #008A00;
}
.orders-container .orders-container-body .list-body-row .row-card .status .shipped{
    background-color: #ffb70034;
    color: #ffb700;
}
.orders-container .orders-container-body .list-body-row .row-card .status .cancelled{
    background-color: #DD384234;
    color: #DD3842;
}
.orders-container .orders-container-body .list-body-row .row-card .actions{
    display: flex;
    align-items: center;
    text-align: left;
    column-gap: 10px;
}
.orders-container .orders-container-body .list-body-row .row-card .actions button{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #6b728054;
    font-weight: 600;
    transition: 0.25s;
}
.orders-container .orders-container-body .list-body-row .row-card .actions button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.orders-container .orders-container-body .list-body-row .row-card .actions .view{
    color: #2B38D1;
}
.orders-container .orders-container-body .list-body-row .row-card .actions .view:hover{
    background-color: #2B38D1;
    color: #Fff;
}
.orders-container .orders-container-body .list-body-row .row-card .actions .edit{
    color: #ffb700;
}
.orders-container .orders-container-body .list-body-row .row-card .actions .edit:hover{
    background-color: #ffb700;
    color: #fff;
}
.orders-container .orders-container-body .list-body-row .row-card .actions .delete{
    color: #DD3842;
}
.orders-container .orders-container-body .list-body-row .row-card .actions .delete:hover{
    background-color: #DD3842;
    color: #fff;
}
.orders-container .orders-container-body .list-body-row .card-details{
    display: flex;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
    background-color: #F1F5F6;
    border-top: 2px solid #2b39d186;
}
.orders-container .orders-container-body .list-body-row .card-details .row{
    width: 100%;
    padding: 20px 30px;
    border-right: 1px solid #6b728041;
    border-bottom: 1px solid #6b728041;
}
.orders-container .orders-container-body .list-body-row .card-details .payment-details{
    border-right: none;
}
.orders-container .orders-container-body .list-body-row .card-details .details-header{
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 10px;
    margin-bottom: 15px;
}
.orders-container .orders-container-body .list-body-row .card-details .details-header svg{
    width: 14px;
    color: #6b7280;
}
.orders-container .orders-container-body .list-body-row .card-details .details-header p{
    font-size: 13px;
    font-weight: 700;
    color: #6b7280;
}
.orders-container .orders-container-body .list-body-row .card-details .details-body div{
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin: 8px 0;
}
.orders-container .orders-container-body .list-body-row .card-details .details-body div h4{
    width: 120px;
    font-size: 14px;
    color: #6b728099;
    font-weight: 600;
}
.orders-container .orders-container-body .list-body-row .card-details .details-body div p{
    font-size: 14px;
    font-weight: 600;
}
.orders-container .orders-container-body .list-body-row .card-details .product-details .details-body img{
    width: 100%;
    /* height: 200px; */
    object-fit: contain;
    background-position: center;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .status{
    padding: 3px 8px;
    border-radius: 30px;
    font-size: 12px;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .processing{
    background-color: #8b5cf634;
    color: #8b5cf6;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .deleverd{
    background-color: #008a0026;
    color: #008A00;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .shipped{
    background-color: #ffb70034;
    color: #ffb700;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .cancelled{
    background-color: #DD384234;
    color: #DD3842;
}
.orders-container .orders-container-body .list-body-row .card-details .payment-details .details-body .payment-status{
    padding: 3px 8px;
    border-radius: 30px;
    font-size: 12px;
}
.orders-container .orders-container-body .list-body-row .card-details .payment-details .details-body .paid{
    color: #008A00;
    background-color: #008a0026;
}
.orders-container .orders-container-body .list-body-row .card-details .payment-details .details-body .no-paid{
    background-color: #DD384234;
    color: #DD3842;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .status-box button{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .status-box svg{
    width: 15px;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .status-box button:hover{
    cursor: pointer;
    border: 1px solid #ffb700;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .status-box .edit{
    color: #ffb700;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .status-box .edit:hover{
    background-color: #ffb700;
    color: #fff;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-footer{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-footer button{
    width: fit-content;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin-right: 20px;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-footer button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-footer .update{
    background-color: #2B38D1;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-footer .close{
    background-color: #DD3842;
}
.orders-container .orders-container-body .list-body-row .card-details .order-details .details-body .status-box select{
    border-radius: 10px;
    padding: 3px 6px;
    outline: none;
    border: 1px solid #6b728061;
    font-size: 12px;
    font-weight: 500;
    color: #6b7280;
}
.orders-container .orders-container-footer{
    padding-bottom: 30px;
}
/* box buttons */
.orders-container .orders-container-footer .box-buttons{
    display: flex;
    width: 100%;
    padding: 30px 0 10px 0;
    justify-content: center;
    align-items: center;
}
.orders-container .orders-container-footer .box-buttons button{
    background: #F1F5F6;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9dedf;
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: 500;
    color: rgb(109, 107, 107);
    transition: 0.25s;
    padding-bottom: 5px;
}
.orders-container .orders-container-footer .box-buttons button:hover{
    color: #fff;
    background-color: #2B38D1;
    cursor: pointer;
}
.orders-container .orders-container-footer .box-buttons p{
    margin: 0 20px;
    font-weight: 600;
}
.orders-container .orders-container-footer .box-buttons span{
    color: #2B38D1;
    font-weight: 600;
}