.orders-container{
    max-width: 90%;
    margin: auto;
}
.orders-container .orders-container-header .admin-orders{
    display: flex;
    background-color: transparent;
    align-items: center;
    column-gap: 20px;
    justify-content: space-between;
}
.orders-container .orders-container-header .header-top .status-box{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    column-gap: 15px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.orders-container .orders-container-header .header-top .status-box .box-thumb{
    width: 40px;
    height: 40px;
    background-color: #2b39d11e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.orders-container .orders-container-header .header-top .status-box .box-thumb svg{
    width: 20px;
    height: 20px;
    color: #2B38D1;
}
/* Status boxes color styles */
.orders-container .orders-container-header .header-top .status-box .pending{
    background-color: #ffb70034;
}
.orders-container .orders-container-header .header-top .status-box .pending svg{
    color: #ffb700;
    background-color: transparent;
}
.orders-container .orders-container-header .header-top .status-box .processing{
    background-color: #8b5cf634;
}
.orders-container .orders-container-header .header-top .status-box .processing svg{
    color: #8b5cf6;
    background-color: transparent;
}
.orders-container .orders-container-header .header-top .status-box .completed{
    background-color: #008a0026;
}
.orders-container .orders-container-header .header-top .status-box .completed svg{
    color: #008A00;
    background-color: transparent;
}

.orders-container .orders-container-header .header-top .status-box .cancelled{
    background-color: #DD384234;
}
.orders-container .orders-container-header .header-top .status-box .cancelled svg{
    color: #DD3842;
    background-color: transparent;
}

.orders-container .orders-container-header .header-top .status-box .box-details p{
    font-size: 14px;
    font-weight: 500;
    color: #000000ae;
}
.orders-container .orders-container-header .header-top .status-box .box-details h1{
    font-size: 25px;color: #000;
}
.orders-container .orders-container-header .header-bottom{
    background-color: #fff;
    margin: 30px 0;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.orders-container .orders-container-header .header-bottom .filter-methods{
    display: flex;
    justify-content: space-between;
    align-items: end;
    column-gap: 30px;
}
.orders-container .orders-container-header .header-bottom .filter-methods div{
    width: 100%;
}
.orders-container .orders-container-header .header-bottom div p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.orders-container .orders-container-header .header-bottom div input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #6b728039;
    outline: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #6b7280;
}
.orders-container .orders-container-header .header-bottom div input:focus + .placeholder{
    display: none;
}
.orders-container .orders-container-header .header-bottom div select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #6b728039;
    font-size: 14px;
    font-weight: 600;
    color: #6b7280a1;
}
.orders-container .orders-container-header .header-bottom .buttons{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.orders-container .orders-container-header .header-bottom .buttons .reset{
    background-color: transparent;
    border: 1px solid #6b728045;
    color: #000;
    font-weight: 600;
}
.orders-container .orders-container-header .header-bottom .buttons .reset svg{
    width: 16px;
}
.orders-container .orders-container-header .header-bottom .buttons button{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 10px 15px;
    border: 1px solid #2B38D1;
    border-radius: 10px;
    background-color: #2B38D1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.orders-container .orders-container-header .header-bottom .buttons button:hover{
    opacity: 0.75;
    cursor: pointer;
}
.orders-container .orders-container-header .header-bottom .find{
    position: relative;
}
.orders-container .orders-container-header .header-bottom .search{
    position: relative;
}
.orders-container .orders-container-header .header-bottom .placeholder{
    display: flex;
    column-gap: 8px;
    justify-content: start;
    color: #6b72808a;
    position: absolute;
    top: 58%;
    left: 5%;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
.orders-container .orders-container-header .header-bottom .placeholder svg{
    width: 18px;
    height: 20px;
}
.orders-container .orders-container-header .header-bottom .filter-keys{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 20px;
    padding-top: 20px;
}
.orders-container .orders-container-header .header-bottom .filter-keys p{
    display: flex;
    align-items: end;
    padding: 3px 10px;
    font-size: 12px;
    border: 1px solid #6b728030;
    border-radius: 30px;
    color: #6b72807d;
}

.orders-container .orders-container-body{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.orders-container .orders-container-body .order-list-container{
    width: 100%;
}
.orders-container .orders-container-body table{
    width: 100%;
    border-collapse: collapse
}
.orders-container .orders-container-body table thead tr{
    height: 60px;
    font-size: 14px;
    color: #6b7280;
    background-color: #F1F5F6;
}
.orders-container .orders-container-body table tbody{
    background-color: #fff;
}
.orders-container .orders-container-body table tbody .list-card td{
    padding: 15px;
    border-top: 1px solid #6b72802c;
}
.orders-container .orders-container-body table tbody .list-card .order{
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 15px 20px;
}
.orders-container .orders-container-body table tbody .list-card .quantity,
.orders-container .orders-container-body table tbody .list-card .price,
.orders-container .orders-container-body table tbody .list-card .status,
.orders-container .orders-container-body table tbody .list-card .actions{
    text-align: center;
}
.orders-container .orders-container-body .order .order-thumb img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    background-position: center;
}
.orders-container .orders-container-body .order .order-details h4{
    font-size: 15px;
    font-weight: 600;
}
.orders-container .orders-container-body .order .order-details p{
    font-size: 12px;
    margin-top: 5px;
    color: #6b7280;
}
.orders-container .orders-container-body .user h4{
    font-size: 15px;
    font-weight: 600;
}
.orders-container .orders-container-body .user p{
    font-size: 12px;
    font-weight: 500;
    color: #6b7280;
    margin-top: 5px;
}
.orders-container .orders-container-body .quantity h4,
.orders-container .orders-container-body .price h4{
    font-weight: 600;
    font-size: 15px;
}
.orders-container .orders-container-body .status p{
    padding: 6px 10px;
    width: fit-content;
    margin: auto;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 600;
}
.orders-container .orders-container-body .status .processing{
    background-color: #ffb70034;
    color: #ffb700;
}
.orders-container .orders-container-body .status .delivered{
    background-color: #008a0026;
    color: #008A00;
}
.orders-container .orders-container-body .status .shipped{
    background-color: #8b5cf634;
    color: #8b5cf6;
}
.orders-container .orders-container-body .status .cancelled{
    background-color: #DD384234;
    color: #DD3842;
}
.orders-container .orders-container-body .actions button{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #6b728054;
    font-weight: 600;
    transition: 0.25s;
    margin-right: 10px;
}
.orders-container .orders-container-body .actions button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.orders-container .orders-container-body .actions .view{
    color: #2B38D1;
}
.orders-container .orders-container-body .actions .view:hover{
    background-color: #2B38D1;
    color: #Fff;
}
.orders-container .orders-container-body .actions .edit{
    color: #ffb700;
}
.orders-container .orders-container-body .actions .edit:hover{
    background-color: #ffb700;
    color: #fff;
}
.orders-container .orders-container-body .actions .delete{
    color: #DD3842;
}
.orders-container .orders-container-body .actions .delete:hover{
    background-color: #DD3842;
    color: #fff;
}

/* All detail row styles */
.orders-container .orders-container-body table tbody tr td .card-details{
    display: grid;  
    grid-template-columns: 1fr 1fr;
    background-color: #F1F5F6;
    border-top: 2px solid #2b39d186;
}
.orders-container .orders-container-body .card-details .row{
    padding: 20px 30px;
    border-right: 1px solid #6b728041;
    border-bottom: 1px solid #6b728041;
}
.orders-container .orders-container-body .card-details .payment-details{
    border-right: none;
}
.orders-container .orders-container-body .card-details .details-header{
    display: flex;
    align-items: center;
    justify-content: left;
    column-gap: 10px;
    margin-bottom: 15px;
}
.orders-container .orders-container-body .card-details .details-header svg{
    width: 14px;
    color: #6b7280;
}
.orders-container .orders-container-body .card-details .details-header p{
    font-size: 13px;
    font-weight: 700;
    color: #6b7280;
}
.orders-container .orders-container-body .card-details .details-body div{
    display: flex;
    column-gap: 15px;
    align-items: center;
    margin: 8px 0;
}
.orders-container .orders-container-body .card-details .details-body div h4{
    width: 120px;
    font-size: 14px;
    color: #6b728099;
    font-weight: 600;
}
.orders-container .orders-container-body .card-details .details-body div p{
    font-size: 14px;
    font-weight: 600;
}
.orders-container .orders-container-body .card-details .product-details .details-body img{
    width: 100%;
    height: 220px;
    object-fit: contain;
    background-position: center;
}
.orders-container .orders-container-body .card-details .order-details .details-body .status{
    padding: 3px 8px;
    border-radius: 30px;
    font-size: 12px;
}
.orders-container .orders-container-body .card-details .order-details .details-body .processing{
    background-color: #ffb70034;
    color: #ffb700;
}
.orders-container .orders-container-body .card-details .order-details .details-body .delivered{
    background-color: #008a0026;
    color: #008A00;
}
.orders-container .orders-container-body .card-details .order-details .details-body .shipped{
    background-color: #8b5cf634;
    color: #8b5cf6;
}
.orders-container .orders-container-body .card-details .order-details .details-body .cancelled{
    background-color: #DD384234;
    color: #DD3842;
}
.orders-container .orders-container-body .card-details .payment-details .details-body .payment-status{
    padding: 3px 8px;
    border-radius: 30px;
    font-size: 12px;
}
.orders-container .orders-container-body .card-details .payment-details .details-body .paid{
    color: #008A00;
    background-color: #008a0026;
}
.orders-container .orders-container-body .card-details .payment-details .details-body .no-paid{
    background-color: #DD384234;
    color: #DD3842;
}
.orders-container .orders-container-body .card-details .order-details .details-body .status-box button{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    transition: 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orders-container .orders-container-body .card-details .order-details .details-body .status-box svg{
    width: 15px;
}
.orders-container .orders-container-body .card-details .order-details .details-body .status-box button:hover{
    cursor: pointer;
    border: 1px solid #ffb700;
}
.orders-container .orders-container-body .card-details .order-details .details-body .status-box .edit{
    color: #ffb700;
}
.orders-container .orders-container-body .card-details .order-details .details-body .status-box .edit:hover{
    background-color: #ffb700;
    color: #fff;
}
.orders-container .orders-container-body .card-details .order-details .details-footer{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.orders-container .orders-container-body .card-details .order-details .details-footer button{
    width: fit-content;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    color: #fff;
    margin-right: 20px;
}
.orders-container .orders-container-body .card-details .order-details .details-footer button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.orders-container .orders-container-body .card-details .order-details .details-footer .update{
    background-color: #2B38D1;
}
.orders-container .orders-container-body .card-details .order-details .details-footer .close{
    background-color: #DD3842;
}
.orders-container .orders-container-body .card-details .order-details .details-body .status-box select{
    border-radius: 10px;
    padding: 3px 6px;
    outline: none;
    border: 1px solid #6b728061;
    font-size: 12px;
    font-weight: 500;
    color: #6b7280;
}
.orders-container .orders-container-footer{
    padding-bottom: 30px;
}
/* box buttons */
.orders-container .orders-container-footer .box-buttons{
    display: flex;
    width: 100%;
    padding: 30px 0 10px 0;
    justify-content: center;
    align-items: center;
}
.orders-container .orders-container-footer .box-buttons button{
    background: #F1F5F6;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9dedf;
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: 500;
    color: rgb(109, 107, 107);
    transition: 0.25s;
    padding-bottom: 5px;
}
.orders-container .orders-container-footer .box-buttons button:hover{
    color: #fff;
    background-color: #2B38D1;
    cursor: pointer;
}
.orders-container .orders-container-footer .box-buttons p{
    margin: 0 20px;
    font-weight: 600;
}
.orders-container .orders-container-footer .box-buttons span{
    color: #2B38D1;
    font-weight: 600;
}

