/* ******************* container styles ******************* */

.container {
    width: 100%;
}

/* Banner Style */
.container .banner-container {
    display: flex;
    flex-shrink: 0;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    position: relative;
}

.container .banner {
    flex: 1 0 100%;
    scroll-snap-align: start;
    height: 75vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    align-items: center;
    z-index: 10;
    transition: transform 1s ease-in-out;
}

.container .banner1 {
    background-image: radial-gradient(circle at 78% 35%, rgba(24, 27, 52, 0.2) 0%, rgba(10, 13, 24, 0.85) 55%, rgba(5, 7, 13, 0.95) 100%), url('https://cdn.mos.cms.futurecdn.net/T8PBFe2QF3tEkXUMy86sdL.jpg')
}

.container .banner2 {
    background-image: radial-gradient(circle at 78% 15%, rgba(24, 27, 52, 0.2) 0%, rgba(10, 13, 24, 0.85) 55%, rgba(5, 7, 13, 0.95) 100%), url('../../assets/laptops.png')
}

.container .banner3 {
    background-image: radial-gradient(circle at 78% 35%, rgba(24, 27, 52, 0.2) 0%, rgba(10, 13, 24, 0.85) 55%, rgba(5, 7, 13, 0.95) 100%), url('https://assets2.razerzone.com/images/pnx.assets/eb3cba28ae8c1d4cf325a7775c9f10ac/razer-wolverine-v3-pro-thumbsticks-desktop.webp')
}

.container .banner4 {
    background-image: radial-gradient(circle at 78% 35%, rgba(24, 27, 52, 0.2) 0%, rgba(10, 13, 24, 0.85) 55%, rgba(5, 7, 13, 0.95) 100%), url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/207980-HeroBanner-1600x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=2000&hei=770&qlt=100&fit=constrain')
}

.container .banner .banner-info {
    width: 500px;
    margin: 0 5%;
}

.container .banner .banner-info h1 {
    font-size: 35px;
    color: #fff;
}

.container .banner .banner-info span {
    background: linear-gradient(90deg, #9c7cfb, #6c8cf5);
    -webkit-background-clip: text;
    color: transparent;
}

.container .banner .banner-info p {
    color: #a9adc4;
    font-weight: 500;
    font-size: 16px;
    margin: 25px 0;
    line-height: 22px;
}

.container .banner .banner-info .buttons {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.container .banner .banner-info .buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    padding: 12px 16px;
    width: fit-content;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition: 0.25s;
}

.container .banner .banner-info .buttons .shop-btn {
    background: linear-gradient(135deg, #8050ec, #3a5df0);
}

.container .banner .banner-info .buttons .details-btn {
    background-color: transparent;
}

.container .banner .banner-info button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.container .banner-container .banner-nav {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 10px;
    top: 94%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.container .banner-container .banner-nav p {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #909596;
    transition: 1s;
}

.container .banner-container .banner-nav p:hover {
    cursor: pointer;
    background-color: #fff;
}

.container .banner-container .banner-nav p a {
    padding: 5px;
    border-radius: 50%;
    background-color: #909596;
    transition: 1s;
}

.container .banner-container .banner-nav p a:active {
    background-color: #2B38D1;
}

#select {
    width: 25px;
    height: 8px;
    border-radius: 10px;
    background: linear-gradient(135deg, #8050ec, #3a5df0);
}

/* Info Style */

.container .info {
    width: 90%;
    padding: 45px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .info .info-box {
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #fff;
}

.container .info .info-box .box-img svg {
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: #2B38D127;
    color: #2B38D1;
    border-radius: 10px;
}

.container .info .info-box .box-data h4 {
    font-size: 15px;
    font-weight: 700;
}

.container .info .info-box .box-data p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    color: #7e8193;
}

/* category styles */
.container .category-container {
    background-color: #F1F5F6;
    padding: 10px 0 60px 0;
}

.container .category-container .container-header {
    width: 90%;
    margin: auto;
}

.container .category-container .container-header h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 35px 0;
}

.container .category-container .container-footer {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.container .category-container .container-footer .category-card {
    flex: 1;
    max-width: 230px;
    background-color: #fff;
    padding: 30px 20px 50px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 8px 0px;
    transition: all 0.3s ease;
}

.container .category-container .container-footer .category-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container .category-container .container-footer .category-card .card-header img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container .category-container .container-footer .category-card .card-header {
    margin-bottom: 15px;
}

.container .category-container .container-footer .category-card .card-bottom h3 {
    font-size: 18px;
    font-weight: 700;
}

.container .category-container .container-footer .category-card .card-bottom p {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
    color: #7e8193;
}

/* Sections Style */

/* best choice section */
.container .best-choice {
    padding: 40px 0 60px 0;
    background-color: #fff;
}

.container .best-choice .best-choice-head {
    width: 90%;
    margin: auto;
}

.container .best-choice .best-choice-head h1 {
    font-size: 28px;
    font-weight: 700;
}

.container .best-choice .best-choice-body {
    width: 90%;
    margin: auto;
}

/* infor 2 section style */
.container .second-info-container{
    width: 100%;
    background-color: #F1F5F6;
}
.container .second-info-container .info-row{
    width: 90%;
    padding: 45px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container .second-info-container .second-info-box {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.container .second-info-container .second-info-box .box-left svg {
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: #2B38D127;
    color: #2B38D1;
    border-radius: 10px;
}

.container .second-info-container .second-info-box .box-right h3 {
    font-size: 15px;
    font-weight: 700;
}

.container .second-info-container .second-info-box .box-right p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    color: #7e8193;
}

/* ************************************** */
















/* ******************* Responsive styles ******************* */
@media(max-width: 1430px) {
    .container .category-container .container-footer .category-card {
        padding: 30px 10px 50px 10px;
        max-width: none;
    }
}

@media(max-width: 1360px) {
    .container .best-choice .best-choice-body .body-template {
        grid-template-columns: auto auto auto auto;
    }
}

@media(max-width: 1300px) {
    .container .category-container .container-footer .category-card {
        height: 280px;
    }
}

@media(max-width: 1050px) {
    .container .laptop-section .section-grid {
        display: block;
    }

    .container .laptop-section .section-grid .grid-box {
        width: 100%;
        margin-bottom: 50px;
    }
    
    .container .best-choice .best-choice-body .body-template {
        grid-template-columns: auto auto auto;
    }
    .footer .footer-top{
        grid-template-columns: 300px auto auto auto;
        justify-content: space-between;
        row-gap: 40px;
    }
}

@media(max-width: 1035px) {
    .header .header-navbar .navbar-right ul li a svg {
        display: none;
    }

    .container .category-container .container-footer {
        column-gap: 15px;
    }
}

@media(max-width: 950px) {
    .footer .footer-bottom {
        display: block;
        text-align: center;
    }

    .footer .footer-bottom .copyright {
        margin-bottom: 10px;
    }
}

@media(max-width: 910px) {
    .container .info {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
        justify-content: space-around;
    }

    .container .info .info-box {
        align-items: center;
    }

    .container .category-container .container-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 30px;
    }
}

@media(max-width: 900px) {
   .container .second-info-container .info-row{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 30px;
   }
   .container .second-info-container .info-row .products{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
    }
}

@media(max-width: 890px) {
    .header .header-navbar .navbar-left .navbar-left-selection p {
        display: none;
    }
}

@media(max-width: 820px) {
    .footer .footer-top {
        grid-template-columns: auto auto auto;
    }
    .footer .footer-top .location{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media(max-width: 800px) {
    .container .best-choice .best-choice-body .body-template {
        grid-template-columns: auto auto;
        justify-content: space-between;
        /* max-width: fit-content; */
    }
}

@media(max-width: 750px) {
    .container .category-container .container-footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 660px) {
    .container .best-choice .best-choice-body .body-template {
        grid-template-columns: auto auto;
    }

    .container .info .info-box {
        display: block;
        text-align: center;
    }
}

@media(max-width: 650px) {
    .container .banner-container .banner-nav {
        bottom: -8%;
    }

    .container .banner-container .banner-nav {
        top: 70%;
    }
}

@media(max-width: 600px) {
   .container .second-info-container .info-row{
        grid-template-columns: auto;
        justify-content: center;
        row-gap: 50px;
   }
   .container .second-info-container .info-row .second-info-box{
        grid-column-start: 1;
        grid-column-end: 3;
   }
   .container .second-info-container .info-row .products{
        margin: 0;
   }
}

@media(max-width: 560px) {
    .footer .footer-top {
        grid-template-columns: auto auto;
    }
}

@media(max-width: 550px) {
    .container .banner .banner-info {
        width: 100%;
        text-align: left;
    }
}

@media(max-width: 510px) {
    .container .laptop-section .section-grid .grid-box .box-banner {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        width: 100%;
        height: 130px;
        background-position: left;
    }

    .container .laptop-section .section-grid .grid-box .box-banner .banner-details {
        width: fit-content;
        margin: 0;
        padding: 15px;
    }

    .container .laptop-section .section-grid .grid-box .box-banner .banner-details .name h1 {
        margin: 10px 0;
    }

    .container .laptop-section .section-grid .grid-box .box-card-row {
        width: 105%;
    }

    .footer .footer-bottom .payment {
        display: block;
        text-align: center;
    }

    .footer .footer-bottom .payment p {
        margin-bottom: 5px;
    }
}

@media(max-width: 490px) {
    .header .header-top .header-top-right .profile .profile-right {
        display: none;
    }

    .header .header-top .header-top-right {
        column-gap: 10px;
    }

    .header .header-top .header-top-right .cart .cart-right {
        display: none;
    }

    .footer .footer-bottom .payment img {
        margin-top: 10px;
    }

    .container .category-container .container-footer {
        grid-template-columns: 1fr 1fr;
    }

    .container .category-container .container-footer .category-card {
        padding: 20px 20px;
        height: 260px;
    }

    .container .best-choice .best-choice-body .body-template {
        grid-template-columns: auto;
        justify-content: center;
    }
    .container .best-choice .best-choice-head,
    .container .category-container .container-header {
        text-align: center;
    }
}

@media(max-width: 420px) {
    .container .best-choice .best-choice-body .body-template {
        grid-template-columns: 250px;
        justify-content: center;
    }

    .footer .footer-top .location {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
    }

    .footer .footer-bottom .payment img {
        height: 15px;
    }
}

@media(max-width: 400px) {
    .container .banner .banner-info {
        text-align: center;
    }

    .container .banner .banner-info .buttons {
        justify-content: center;
    }
}

@media(max-width: 340px) {
    .container .category-container .container-footer {
        grid-template-columns: 1fr;
    }

    .container .category-container .container-footer .category-card {
        padding: 20px 20px;
        height: 250px;
    }
}

@media(max-width: 330px) {
    .container .banner .banner-info .buttons {
        display: block;
        width: 100%;
    }

    .container .banner .banner-info .buttons button {
        width: 100%;
        margin: 10px 0;
    }

    .container .banner-container .banner-nav {
        bottom: -10%;
    }

    .container .info {
        grid-template-columns: auto;
    }

    .container .info .info-box {
        display: flex;
        text-align: start;
        align-items: center;
        column-gap: 10px;
    }
}


/* ************************************** */