/* ******************* container styles ******************* */
.order-container {
    min-height: 60vh;
    background-color: #F1F5F6;
    padding-bottom: 50px;
}

.order-container .order-header {
    height: 180px;
    display: flex;
    align-items: center;
}

.order-container .order-header .header-content {
    width: 90%;
    margin: auto;
    text-align: center;
}

.order-container .order-header .header-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.order-container .order-header .header-content p {
    font-size: 14px;

    font-weight: 500;
}

.order-container .order-header .header-content span {
    color: rgb(109, 107, 107);
}

.order-container .order-body {
    width: 90%;
    margin: auto;
}

/* Orders Table styles */
.order-container .order-body .order-details table{
    width: 100%;
    border-collapse: collapse;
}

.order-container .order-body .order-details table thead tr th{ 
    padding-bottom: 20px;
    color: #6b7280;
    font-weight: 600;
}

.order-container .order-body .order-details table tbody tr td{
    padding: 10px 0;
    text-align: center;
}

.order-container .order-body .order-details table tbody .card {
    box-shadow: none;
    border-top: 1px solid #6b728026;
}

.order-container .order-body .card-cancelled{
    background-color: #dd384318;
}

.order-container .order-body .order-details table tbody .card p{
    font-size: 15px;
    font-weight: 600;
}

.order-container .order-body .order-details table tbody .card .card-product{
    max-width: 400px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.order-container .order-body .order-details table tbody .card .card-product .name p{
    font-size: 15px;
    font-weight: 700;
    text-align: start;
}

.order-container .order-body .order-details table tbody .card .card-product .name .order-id{
    font-size: 12px;
    font-weight: 500;
    color: #6b7280;
    margin-top: 5px;
}

.order-container .order-body .order-details table tbody .card .card-product img{
    width: 100px;
    height: 80px;
    background-size: contain;
    background-position: center;
    object-fit: contain;
}

.order-container .order-body .order-details table tbody .card .card-total p{
    color: #b3122c;
    font-weight: 700;
}
.order-container .order-body .order-details table tbody .card td{
    padding: 10px;
}
.order-container .order-body .order-details table tbody .card .card-state .status-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.order-container .order-body .order-details table tbody .card .card-state .status-menu svg,
.order-container .order-body .order-details-responsive svg {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #DD3842;
    font-weight: 600;
    transition: 0.25s;
    margin-right: 10px;
    color: #DD3842;
    transition: 0.25s;
}

.order-container .order-body .order-details table tbody .card .card-state .status-menu svg:hover,
.order-container .order-body .order-details-responsive svg:hover{
    background-color: #DD3842;
    color: #fff;
    cursor: pointer;
}

.order-container .order-body .order-details table tbody .card .card-state h4{
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 30px;
}

.card-state .delivered {
    color: #008A00;
    background-color: #008A0027;
}

.card-state .processing {
    background-color: #ffb70034;
    color: #ffb700;
}

.card-state .shipped {
    background-color: #8b5cf634;
    color: #8b5cf6;
}

.card-state .cancelled {
    color: #DD3842;
    background-color: #DD384227;
} 

/* responsive cards */
.order-container .order-body .order-details-responsive{
    display: none;
}
.order-container .order-body .order-details-responsive .card{
    padding: 25px 0;
    display: flex;
    column-gap: 10px;
    align-items: start;
    border-bottom: 1px solid #d9dedf;
    margin: 20px 0;
    position: relative;
}
.order-container .order-body .order-details-responsive .card .image{
    display: flex;
    align-items: center;
}
.order-container .order-body .order-details-responsive .card .image img{
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
}
.order-container .order-body .order-details-responsive .card .card-details{
    width: 100%;
}
.order-container .order-body .order-details-responsive .card .card-details .details-header{
    margin-bottom: 15px;
}
.order-container .order-body .order-details-responsive .card .card-details .details-header h1{
    font-size: 18px; 
    font-weight: 700;
}
.order-container .order-body .order-details-responsive .card .card-details .details-header p{
    font-size: 12px;
    font-weight: 500;
    color: #8d92ad;
    margin-top: 5px;
    background-color: #6b728019;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 30px;
    border: 1px solid #d9dedf;
}
.order-container .order-body .order-details-responsive .card .card-details .details-footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 10px 15px;
}
.order-container .order-body .order-details-responsive .card .card-details .details-footer div{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.order-container .order-body .order-details-responsive .card .card-details .details-footer div h3{
    font-size: 16px;
    font-weight: 700;
}
.order-container .order-body .order-details-responsive .card .card-details .details-footer div p{
    font-size: 15px;
    font-weight: 600;
    color: #6b7280;
}
.order-container .order-body .order-details-responsive .card .card-details .details-footer .card-total p{
    color: #b3122c;
    font-weight: 700;
}
.order-container .order-body .order-details-responsive .card .card-details .details-footer .card-state h4{
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 30px;
}

.order-container .order-body .order-details-responsive svg{
    position: absolute;
    top: 15px;
    right: 5px;
}


/* Responsive styles */
@media(max-width: 1135px){
    .order-container .order-body .order-details table tbody .card .card-product{
        max-width: 330px;
    }
    .order-container .order-body .order-details table tbody .card .card-product .name p{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width: 1055px){
    .order-container .order-body .order-details{
        display: none;
    }
    .order-container .order-body .order-details-responsive{
        display: block;
    }
}

@media(max-width: 940px){
    .order-container .order-body .order-details-responsive .card .card-details .details-footer{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 660px){
   .order-container .order-body .order-details-responsive .card{
        display: grid;
        justify-content: center;
        padding: 25px 20px;
   }
   .order-container .order-body .order-details-responsive .card .image img{
        margin: 0 auto 15px auto;
   }
   .order-container .order-body .order-details-responsive .card .card-details .details-header{
        text-align: center;
   }
   .order-container .order-body .order-details-responsive .card .card-details .details-header p{
    margin: 10px auto;
   }
}

@media(max-width: 490px){
   .order-container .order-body .order-details-responsive .card .card-details .details-footer{
        grid-template-columns: 1fr;
    }
    .order-container .order-body .order-details-responsive .card .card-details .details-footer div{
        justify-content: space-between;
        margin: 5px 0;
    }
}

