
/* ******************* container styles ******************* */

.details-container{
    min-height: 60vh;
    background-color: #F1F5F6;
    padding-bottom: 50px;
}

/* ************************************** */





/* ******************* Responsive styles ******************* */


/* ************************************** */