
/* ******************* container styles ******************* */

.cart-container{
    min-height: 60vh;
    background-color: #fff;
    padding-bottom: 50px;
}
.cart-container .cart-header{
    height: 180px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
}
.cart-container .cart-header .header-content{
    width: 90%;
    margin: auto;
    text-align: center;
}
.cart-container .cart-header .header-content h1{
    font-size: 40px;
    margin-bottom: 10px;
}
.cart-container .cart-header .header-content p{
    font-size: 14px;

    font-weight: 500;
}
.cart-container .cart-header .header-content span{
    color: rgb(109, 107, 107);
}
.cart-container .cart-body{
    display: flex;
    align-items: top;
    justify-content: space-between;
    column-gap: 50px;
    width: 90%;
    margin: auto;
}
.cart-container .cart-body .cart-details{
    flex: 1;
}
.cart-container .cart-body .cart-details .product{
    width: 350px;
    text-align: center;
}
.cart-container .cart-body .cart-details .price{
    width: auto;
    text-align: center;
}
.cart-container .cart-body .cart-details .quantity{
    width: auto;
    text-align: center;
}
.cart-container .cart-body .cart-details .subtotal{
    width: auto;
    text-align: center;
}
.cart-container .cart-body .cart-details .details-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d9dedf;
    border-left: none;
    border-right: none;
    padding: 20px 0;
}
.cart-container .cart-body .cart-details .details-head p{
    font-size: 16px;
    font-weight: 600;
}
.cart-container .cart-body .cart-details .details-cards .card{
    border-bottom: 1px solid #d9dedf;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-container .cart-body .disabel-card{
    opacity: 0.5;
    cursor: not-allowed;
}
.cart-container .cart-body .disabel-card input{
    display: none;
}
.cart-container .cart-body .cart-details .details-cards .card .card-product{
    display: flex;
    align-items: center;
}
.cart-container .cart-body .cart-details .details-cards .card .card-product .thumb{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.cart-container .cart-body .cart-details .details-cards .card .card-product .thumb input[type="checkbox"]{
    transform: scale(1.3);
}
.cart-container .cart-body .cart-details .details-cards .card .card-product .thumb img{
    width: 120px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
}
.cart-container .cart-body .cart-details .details-cards .card .card-product .name p{
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}
.cart-container .cart-body .cart-details .details-cards .card .card-price p,
.cart-container .cart-body .cart-details .details-cards .card .card-subtotal p{
    font-size: 18px;
    color: #2B38D1;
    font-weight: 600;
}
.cart-container .cart-body .cart-details .details-cards .card .card-quantity{
    display: flex;
    align-items: center;
    background-color: #F1F5F6;
    padding: 8px 15px;
    border-radius: 30px;
    border: 1px solid #d9dedf;
}
.cart-container .cart-body .cart-details .details-cards .card .card-quantity button{
    border: none;
    margin: auto;
    font-size: 20px;
    background: transparent;
}
.cart-container .cart-body .cart-details .details-cards .card .card-quantity button:hover{
    color: #2B38D1;
    cursor: pointer;
}
.cart-container .cart-body .cart-details .details-cards .card .card-quantity p{
    font-size: 16px;
    width: 35px;
}
.cart-container .cart-body .cart-details .details-cards .card .card-subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-container .cart-body .cart-details .details-cards .card button{
    border: none;
    font-size: 15px;
    background: transparent;
    margin-right: 10px;
    font-weight: 500;
    transition: 0.25s;
}
.cart-container .cart-body .cart-details .details-cards .card button:hover{
    color: #DD3842;
    cursor: pointer;
}


.cart-container .cart-body .total-card{
    width: 400px;
    height: fit-content;
    padding: 30px;
    border: 1px solid #F1F5F6;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
.cart-container .cart-body .total-card .total-head{
    padding-bottom: 15px;
    border-bottom: 1px solid #d9dedf;
}
.cart-container .cart-body .total-card .total-head h1{
    font-size: 25px;
    font-weight: 600;
}
.cart-container .cart-body .total-card .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-bottom: 1px solid #d9dedf;
}
.cart-container .cart-body .total-card .info h3{
    font-size: 16px;
    font-weight: 600;
}
.cart-container .cart-body .total-card .info p{
    font-size: 16px;
    font-weight: 700;
    color: #2B38D1;
}
.cart-container .cart-body .total-card .total-total p{
    color: #DD3842;
    font-size: 20px;
}
.cart-container .cart-body .total-card button{
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    border-radius: 30px;
    border: 1px solid #2B38D1;
    font-size: 15px;
    background-color: #2B38D1;
    font-weight: 600;
    color: #fff;
    transition: 0.25s;
}
.cart-container .cart-body .total-card button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #2B38D1;
}
.cart-container .cart-body .cart-details-responsive{
    display: none;
}
.cart-container .cart-body .cart-details-responsive .card{
    padding: 25px 0;
    display: flex;
    align-items: start;
    border-bottom: 1px solid #d9dedf;
}
.cart-container .cart-body .cart-details-responsive .card .image{
    display: flex;
    align-items: center;
}
.cart-container .cart-body .cart-details-responsive .card .image img{
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.cart-container .cart-body .cart-details-responsive .card .image input{
    transform: scale(1.2);
}
.cart-container .cart-body .cart-details-responsive .card .card-details{
    margin-left: 20px;
    width: 100%;
}
.cart-container .cart-body .cart-details-responsive .card .card-details .name h1{
    width: 70%;
    font-size: 16px;
    margin-bottom: 10px;
}
.cart-container .cart-body .cart-details-responsive .card .card-details .name{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.cart-container .cart-body .cart-details-responsive .card .card-details .name button{
    border: none;
    font-size: 16px;
    background: transparent;
    margin-right: 10px;
    font-weight: 500;
    transition: 0.25s;
}
.cart-container .cart-body .cart-details-responsive .card .card-details .name button:hover{
    color: #DD3842;
    cursor: pointer;
}
.cart-container .cart-body .cart-details-responsive .card .card-details .price,
.cart-container .cart-body .cart-details-responsive .card .card-details .quantity,
.cart-container .cart-body .cart-details-responsive .card .card-details .price,
.cart-container .cart-body .cart-details-responsive .card .card-details .subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}
.cart-container .cart-body .cart-details-responsive .card .card-details p{
    font-size: 14px;
    color: rgb(109, 107, 107);
    font-weight: 600;
}
.cart-container .cart-body .cart-details-responsive .card .card-details h3{
    font-size: 16px;
    color: #2B38D1;
}
.cart-container .cart-body .cart-details-responsive .card .card-details .quantity{
    margin: 5px 0;
}
.cart-container .cart-body .cart-details-responsive .card .card-details .quantity .quentity-body{
    display: flex;
    align-items: center;
    background-color: #F1F5F6;
    padding: 3px 10px;
    border-radius: 30px;
    border: 1px solid #d9dedf;
    text-align: center;
}
.cart-container .cart-body .cart-details-responsive .card .card-details .quantity .quentity-body button{
    border: none;
    margin: auto;
    font-size: 18px;
    background: transparent;
}
.cart-container .cart-body .cart-details-responsive .card .card-details .quantity .quentity-body p{
    font-size: 15px;
    width: 40px;
}
/* ************************************** */




/* ******************* Responsive styles ******************* */

@media(max-width: 1300px){
    .cart-container .cart-body .total-card{
        width: 250px;
        padding: 20px;
    }
}
@media(max-width: 1100px){
    .cart-container .cart-body{
        display: block;
        column-gap: 0;
    }
    .cart-container .cart-body .total-card{
        width: 100%;
        margin-top: 50px;
    }
}
@media(max-width: 770px){
    .cart-container .cart-body .cart-details{
        display: none;
    }
    .cart-container .cart-body .cart-details-responsive{
        display: block;
    }
}
@media(max-width: 520px){
    .cart-container .cart-body .cart-details-responsive .card .image img{
        width: 100px;
    }
}

/* ************************************** */