/* products section body */
.admin-container .sections .sections-body .product-section .product-body{
    margin-top: 30px;
}
.admin-container .sections .sections-body .product-section .product-body .body-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
}
.admin-container .sections .sections-body .product-section .product-header{
    column-gap: 10px;
}
.admin-container .sections .sections-body .product-section .product-header .search{
    width: 50%;
}
.admin-container .sections .sections-body .product-section .product-header .header-filter{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.admin-container .sections .sections-body .product-section .product-header .header-filter p{
    width: 70px;
    font-size: 16px;
    font-weight: 600;
}
.admin-container .sections .sections-body .product-section .product-header .header-filter select{
    padding: 5px 10px 5px 5px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(109, 107, 107);
}
.admin-container .sections .sections-body .product-section .product-header .header-create-btn  button{
    width: 140px;
    padding: 8px 15px;
    border: none; 
    font-size: 14px;
    font-weight: 600;
    display: flex;
    color: #fff;
    background-color: #008A00;
    align-items: center;
    transition: 0.25s;
}
.admin-container .sections .sections-body .product-section .product-header .header-create-btn  button:hover{
    background-color: #027702;
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-header .header-create-btn  button i{
    margin-right: 10px;
    font-size: 16px;
}
.admin-container .sections .sections-body .product-section .product-body{
    min-height: 60vh;
}
.admin-container .sections .sections-body .product-section .product-body .product-list{
    margin-top: 30px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    column-gap: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .header{
    padding: 20px 0;
    border-top: 1px solid #d8dbdccd;
    margin-bottom: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .header p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(109, 107, 107);
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products{
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products:hover{
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .row{
    text-align: center;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .row p{
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .name{
    display: flex;
    width: 300px;
    align-items: center;
    column-gap: 10px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .qnt,
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .price,
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .availability,
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .buttons{
    width: 100px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .name .image img{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .name .details{
    text-align: left;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .product-box .name .details p{
    font-size: 12px;
    margin-top: 5px;
    color: rgb(109, 107, 107);
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .qnt p{
    font-size: 15px;
    font-weight: 500;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .price p{
    font-weight: 600;
    color: #2B38D1;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .availability p{
    padding: 5px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .availability .availabale{
    background-color: #008A0027;
    color: #008A00;
    border: 1px solid #008A00;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .availability .unavailabale{
    background-color: #DD384227;
    color: #DD3842;
    border: 1px solid #DD3842;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .buttons button{
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    transition: 0.25s;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .buttons button:hover{
    background-color: #F1F5F6;
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .buttons i{
    font-size: 18px;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .update{
    color: #2B38D1;
}
.admin-container .sections .sections-body .product-section .product-body .product-list .products .delete{
    color: #DD3842;
}

/* responsive list style */
.admin-container .sections .sections-body .product-section .product-body .responsive-list{
    display: none;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box{
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .left-side img{
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side{
    width: 100%;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .row h4{
    color: rgb(109, 107, 107);
    font-weight: 600;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .row p{
    font-weight: 600;
    font-size: 14px;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .price p{
    color: #2B38D1;
    font-weight: 700;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .availability .availabale{
    color: #008A00;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .buttons{
    text-align: end;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .buttons button{
    background-color: transparent;
    font-size: 16px;
    border: none;
    margin: 5px 10px;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .buttons .update{
    color: #2B38D1;
}
.admin-container .sections .sections-body .product-section .product-body .responsive-list .product-box .right-side .buttons .delete{
    color: #DD3842;
}
/* box buttons */
.admin-container .sections .sections-body .product-section .product-footer .box-buttons{
    display: flex;
    width: 100%;
    padding: 30px 0 10px 0;
    justify-content: center;
    align-items: center;
}
.admin-container .sections .sections-body .product-section .product-footer .box-buttons button{
    background: #F1F5F6;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9dedf;
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: 500;
    color: rgb(109, 107, 107);
    transition: 0.25s;
    padding-bottom: 5px;
}
.admin-container .sections .sections-body .product-section .product-footer .box-buttons button:hover{
    color: #fff;
    background-color: #2B38D1;
    cursor: pointer;
}
.admin-container .sections .sections-body .product-section .product-footer .box-buttons p{
    margin: 0 20px;
    font-weight: 600;
}
.admin-container .sections .sections-body .product-section .product-footer .box-buttons span{
    color: #2B38D1;
    font-weight: 600;
}



